body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --text-regular-normal: Roboto;
  
    /* font sizes */
    --font-size-mini: 15px;
    --font-size-21xl: 40px;
    --font-size-lg: 18px;
    --text-regular-normal-size: 16px;
  
    /* Colors */
    --white: #fff;
    --color-dodgerblue: #2783f3;
    --color-gray-100: #03062f;
    --color-gray-200: rgba(0, 0, 0, 0.12);
    --color-gray-300: rgba(255, 255, 255, 0.4);
    --neutral-dark-gray: #505050;
  
    /* Gaps */
    --gap-5xl: 24px;
    --gap-5xs: 8px;
    --gap-base: 16px;
  
    /* Paddings */
    --padding-xs: 12px;
    --padding-xl: 20px;
  
    /* Border radiuses */
    --br-9xs: 4px;
  }

  .hero-child, .hero-item {
    display: none;
    position: absolute;
    top: 630px;
    left: 180px;
    width: 232px;
    height: 180px;
}
  .heading,
  .text {
    align-self: stretch;
    position: relative;
    line-height: 120%;
  }
  .text {
    font-size: var(--font-size-lg);
    line-height: 28px;
    color: rgba(3, 6, 47, 0.7);
  }
  .section-title {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .name,
  .placeholder {
    position: relative;
    line-height: 150%;
  }
  .name {
    align-self: stretch;
  }
  .placeholder {
    width: 341px;
    display: none;
  }
  .input,
  .inputs,
  .inputs1,
  .text-input {
    display: flex;
    justify-content: flex-start;
  }
  .text-input {
    align-self: stretch;
    border-radius: var(--br-9xs);
    background-color: var(--white);
    border: 1px solid var(--color-gray-200);
    flex-direction: row;
    align-items: center;
    padding: 23px;
    color: var(--neutral-dark-gray);
    font-family: var(--text-regular-normal);
  }
  .input,
  .inputs,
  .inputs1 {
    align-items: flex-start;
  }
  .input {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .inputs,
  .inputs1 {
    align-self: stretch;
    flex-direction: row;
  }
  .inputs1 {
    gap: var(--gap-5xl);
  }
  .select-one {
    flex: 1;
    position: relative;
    line-height: 150%;
  }
  .icon-chevron-down {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .input3,
  .select {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .select {
    border-radius: var(--br-9xs);
    background-color: var(--white);
    border: 1px solid var(--color-gray-200);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs);
    gap: var(--gap-base);
    color: var(--neutral-dark-gray);
  }
  .input3 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs);
  }
  .type-your-message {
    flex: 1;
    position: relative;
    line-height: 150%;
    z-index: 0;
  }
  .text-area-child,
  .text-area-item {
    width: 2px;
    position: absolute;
    margin: 0 !important;
    right: 2px;
    bottom: 1.8px;
    height: 2px;
    object-fit: contain;
    display: none;
    z-index: 1;
  }
  .text-area-item {
    width: 6px;
    bottom: 2px;
    height: 6px;
    z-index: 2;
  }
  .text-area {
    align-self: stretch;
    border-radius: var(--br-9xs);
    background-color: var(--white);
    border: 1px solid var(--color-gray-200);
    box-sizing: border-box;
    height: 182px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs);
    position: relative;
    color: var(--neutral-dark-gray);
  }
  .submit {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 24px;
  }
  .submit-wrapper {
    width: 53px;
    position: relative;
    height: 24px;
  }
  .group-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--color-dodgerblue);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-xl);
  }
  .form-inner {
    width: 93px;
    position: relative;
    height: 48px;
    font-size: var(--font-size-mini);
    color: var(--white);
  }
  .form,
  .form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .form1 {
    align-self: stretch;
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--text-regular-normal-size);
  }
  .form {
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0 142px 40px transparent, 0 91px 36px rgba(0, 0, 0, 0.01), 0 51px 31px rgba(0, 0, 0, 0.05), 0 23px 23px rgba(0, 0, 0, 0.09), 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 768px;
    width: 100%;
    overflow: hidden;
    padding: 64px;
    box-sizing: border-box;
    gap: 48px;
  }
  .ut-enim-ad-minim-veniam-quis-parent {
    position: relative;
    margin-top: 105px;
}
  .hero-child,
  .hero-item {
    position: absolute;
    top: 630px;
    left: 180px;
    width: 232px;
    height: 180px;
  }

  .frame-child,
  .frame-item {
    width: 12px;
    position: relative;
    border-radius: 50%;
    background-color: var(--white);
    height: 12px;
  }
  .frame-item {
    background-color: var(--color-gray-300);
  }
  .ellipse-parent {
    position: absolute;
    top: 510px;
    left: 166px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }
  .lorem-ipsum-dolor,
  .ut-enim-ad {
    position: absolute;
    left: 0;
    display: inline-block;
  }
  .ut-enim-ad {
    top: 130px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
    width: 380px;
  }
  .lorem-ipsum-dolor {
    top: 0;
    font-size: var(--font-size-21xl);
    letter-spacing: 0.01em;
    line-height: 53px;
    font-weight: 600;
    width: 420px;
  }
  .sign-up-now-wrapper {
    width: 93px;
    position: relative;
    height: 24px;
  }
  .frame-wrapper {
    position: absolute;
    top: 246px;
    left: 0;
    width: 133px;
    height: 48px;
    font-size: var(--font-size-mini);
  }

  .hero-image-section {
    position: relative;
    margin-top: 24px;
}
  .hero-image-icon {
    top: 104px;
    left: 857px;
    width: 393px;
    height: 454px;
    overflow: hidden;
    object-fit: contain;
  }
  .logo-child,
  .treva {
    position: absolute;
    top: 0;
  }
  .logo-child {
    top: 0px;
    left: 6px;
    width: 10px;
    height: 20px;
  }
  .treva {
    left: 21px;
    line-height: 24px;
    font-weight: 700;
  }
  .logo,
  .logo-item {
    position: absolute;
    top: 10px;
    left: 0;
    width: 9px;
    height: 10px;
  }
  .logo {
    position: relative;
    top: 28px;
    width: 100%;
    max-width: 1070px;
    margin: auto;
    height: 24px;
  }
  
  .navbar {
    position: relative;
    height: 80px;
    font-size: 24px;
  }
  .hero {
    background-image: url(./images/Vector\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 810px;
    width: 100%;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--white);
  }
  .hero-child-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1070px;
    margin: auto;
    padding: 0 ;
}
  .desktop {
    width: 100%;
    background-color: #f1f5f9;
    height: 1978px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-gray-100);
    font-family: var(--font-inter);
  }
    

  @media (max-width: 1250px) {
    .hero-child-container {
        padding: 0 50px;
    }
    .hero-image-icon {
        width: 293px;
        height: 354px;
        margin-right: 50px;
}
.ellipse-parent {
    position: absolute;
    top: 395px;
    left: 110px;
}
.frame-child, .frame-item {
    width: 10px;

    height: 10px;
}
.frame-wrapper{
    top: 210px;
}
.lorem-ipsum-dolor {
    top: 0;
    font-size: 35px;
    letter-spacing: 0.01em;
    line-height: 45px;
    font-weight: 600;
    width: 420px;
}
.ut-enim-ad {
    top: 108px;
    font-size: 15px;
    line-height: 25px;;
    color: rgba(255, 255, 255, 0.7);
    width: 380px;
}
.group-wrapper {
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: var(--br-9xs);
    padding: 10px 18px;
}
.logo{
    margin-left: 50px;
}
  }
  @media (max-width: 1024px){
    .hero {
        background-image: url(./images/Vector\ 1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 1000px;
        width: 100%;
        font-size: var(--font-size-lg);
        color: var(--white);
    }
    .form {
        margin-top: 0px;
        padding: 35px;
  }
    .hero-child-container {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1070px;
        margin: auto;
        padding: 0 20px;
    }
    .lorem-ipsum-dolor {
        top: 0;
        font-size: 35px;
        letter-spacing: 0.01em;
        line-height: 45px;
        font-weight: 600;
        width: 468px;
    }
    .ut-enim-ad {
        top: 108px;
        font-size: 14px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.7);
        width: 468px;
    }
    .group-wrapper {
        position: relative;
        top: 0px;
        left: 95px; 
        border-radius: var(--br-9xs);
        padding: 10px 18px;
    }
    .frame-wrapper {
        position: absolute;
        top: 200px;
        left: 160px;
    }
    .hero-image-section {
        position: relative;
        margin-top: 24px;
        width: 470px;
    }
    .hero-image-icon {
        width: 293px;
        height: 354px;
        margin: auto;
        margin-top: 390px;
        margin-left: 80px;
    }
    .ellipse-parent {
        position: absolute;
        top: 765px;
        left: 180px;
    }
    .group-wrapper {
        position: relative;
        top: 0px;
        left: 0px;
        border-radius: var(--br-9xs);
        padding: 10px 18px;
    }
    .submit-wrapper {
        width: 53px;
        position: relative;
        height: 24px;
    }
    .submit {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 24px;
    }
  
  .heading, .text {
    align-self: stretch;
    position: relative;
    line-height: 110%;
    font-size: 35px;
}
.text {

    line-height: 28px;
    color: rgba(3, 6, 47, 0.7);
    font-size: 16px;
}
.text-input {
    align-self: stretch;
    width: 200px;
}
.inputs, .inputs1 {
    align-self: stretch;
    flex-direction: column;
}
.ut-enim-ad-minim-veniam-quis-parent {
    position: relative;
    margin-top: 105px;
    text-align: center;
}
  }

  @media (max-width: 550px){
    .hero {
        background-image: url(./images/Vector\ 1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 1000px;
        width: 100%;
        font-size: var(--font-size-lg);
        color: var(--white);
    }
    .hero-child-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1070px;
        margin: auto;
        padding: 0 20px;
    }
    .frame-wrapper {
        position: absolute;
        top: 200px;
        left: 100px;
    }
    .lorem-ipsum-dolor {
        top: 0;
        font-size: 32px;
        letter-spacing: 0.01em;
        line-height: 45px;
        font-weight: 600;
        width: 332px;
    }
    .ut-enim-ad {
        top: 108px;
        font-size: 14px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.7);
        width: 338px;
    }
    .group-wrapper {
        position: relative;
        top: 0px;
        left: 95px; 
        border-radius: var(--br-9xs);
        padding: 10px 18px;
    }
    .hero-image-icon {
        width: 293px;
        height: 354px;
        margin-right: 50px;
        margin-top: 390px;
        margin-left: 25px;

    }
    .ellipse-parent {
        position: absolute;
        top: 765px;
        left: 133px;
    }
    .group-wrapper {
        position: relative;
        top: 0px;
        left: 0px;
        border-radius: var(--br-9xs);
        padding: 10px 18px;
    }
    .submit-wrapper {
        width: 53px;
        position: relative;
        height: 24px;
    }
    .submit {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 24px;
    }
    .form {
        max-width: 340px;
        margin-top: 0px;
        padding: 35px;
  }
  .heading, .text {
    align-self: stretch;
    position: relative;
    line-height: 110%;
    font-size: 35px;
}
.text {

    line-height: 28px;
    color: rgba(3, 6, 47, 0.7);
    font-size: 16px;
}
.text-input {
    align-self: stretch;
    width: 200px;
}
.inputs, .inputs1 {
    align-self: stretch;
    flex-direction: column;
}
.ut-enim-ad-minim-veniam-quis-parent {
    position: relative;
    margin: auto;
    margin-top: 105px;
    text-align: center;
}
}